main{
    display: flex;
    justify-content: center;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
main a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
main a:hover {
    color: var(--color-5, #a2a6b0);
}
/* slideshow */
.slideshow{
    display: flex;
    justify-content: center;
}
.slideshow img {
    display: none;
    width: 100%;
    transition: opacity 1s;
}
.btnslideshow{
    display: flex;
    align-items: center;
}
.next{
    position: absolute;
    right: 280px;
    cursor: pointer;
}
.prev{
    position: absolute;
    left: 280px;
    cursor: pointer;
    z-index: 0;
}
.prev:hover, .next:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.slideshow img:first-child {
    display: block;
}
/* product main*/
.product-main{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
}
/* product new */
.intro-product-deal{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-product-deal{
    margin: 10px 0px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #646668;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.list-product-deal{
    img{
        width: 100%;
        height: 170px;
        border-radius: 20px;
    }
    display: flex;
    justify-content: center;
    height: 530px;
}
.product-card{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px 10px;
    height: 500px;
    width: 210px;
    transition: border-color 0.3s ease;
    -webkit-transition: border-color 0.3s ease;
    -moz-transition: border-color 0.3s ease;
    -ms-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
}
.product-card img{
    display: flex;
    align-items: center;
}
.pd-price-old{
    text-decoration: line-through;
    color: hsl(0, 0%, 50%);;
}

.addcart{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}
.add-to-cart {
    display: none;
    padding: 5px;
}
.add-to-cart:hover{
    background-color: var(--color-3, #0156ff);
    color: white;
}
.product-card:hover{
    border-style: solid;
    border-color: var(--color-3, #0156ff);
    border-width: 2px;
    border-radius: 20px;
}  

.product-card:hover .add-to-cart {
    display: block;
    border-style: solid;
    border-color: var(--color-3, #0156ff);
    border-width: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; 
}
.product-card img {
    transition: transform 0.3s ease-in-out;
}

.product-card:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.pd-name{
    margin-top: 10px;
    height: 60px;
    width: 150px;
}
.pd-info{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    height: 150px;
    background-color:#dee2e6;
    display: flex;
    flex-wrap: wrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.pd-info span{
    margin-right: 10px;
}

/* gaming */
.product-gaming{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
}
.intro-product-gaming{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-list{
    img{
        width: 230px;
        height: 100%;
    }
    display: flex;
}
.list-product-gaming{
    margin: 10px 0px;
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #646668;
    -webkit-border-radius: 0px 20px 20px 0px;
    -moz-border-radius: 0px 20px 20px 0px;
    -ms-border-radius: 0px 20px 20px 0px;
    -o-border-radius: 0px 20px 20px 0px;
}
.list-product-gaming{
    img{
        width: 100%;
        height: 170px;
        border-radius: 20px;
    }
    display: flex;
    justify-content: center;
    height: 530px;
}
/* macbook */
.product-macbook{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
}
.intro-product-macbook{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-product-macbook{
    margin: 10px 0px;
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #646668;
    -webkit-border-radius: 0px 20px 20px 0px;
    -moz-border-radius: 0px 20px 20px 0px;
    -ms-border-radius: 0px 20px 20px 0px;
    -o-border-radius: 0px 20px 20px 0px;
}
.list-product-macbook{
    img{
        width: 100%;
        height: 170px;
        border-radius: 20px;
    }
    display: flex;
    justify-content: center;
    height: 530px;
}

/* laptop all */
.product-all{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
}
.sort-product-all{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.list-product-all #product-content{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px;
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #646668;
    -webkit-border-radius: 0px 20px 20px 0px;
    -moz-border-radius: 0px 20px 20px 0px;
    -ms-border-radius: 0px 20px 20px 0px;
    -o-border-radius: 0px 20px 20px 0px;
}
.list-product-all{
    img{
        width: 100%;
        height: 170px;
        border-radius: 20px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 2000px;
}

/* phan trang */
#pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#pagination button {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #495057;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 0 5px;
}

#pagination button:hover {
    background-color: #495057;
    color: #f8f9fa;
}

#pagination .active {
    background-color: #495057;
    color: #f8f9fa;
}
/* fill */
.fill-all{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 340px;
}
.fill-all div{
    width: 200px;
    padding: 10px;
}
.fill-brand{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.fill-all h3{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.fill-all label{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* fill price */
.sort-product-all button{
    margin: 10px 10px;
    width: 100px;
    height: 30px;
}
.sort-product-all button {
    background-color: #f8f9fa;
    border: 1px solid #b8b6b6;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sort-product-all button:hover {
    background-color: #0156ff;
    color: #ffffff;
    cursor: pointer;
}

.sort-product-all .active {
    background-color: #0156ff;
    color: #f8f9fa;
}